<div class="rows">
  <div class="cell larger fixed"></div>
  <div class="cell spacer"></div>
  <div class="cell larger">Einsen</div>
  <div class="cell larger">Zweien</div>
  <div class="cell larger">Dreien</div>
  <div class="cell larger">Vieren</div>
  <div class="cell larger">Fünfen</div>
  <div class="cell larger">Sechsen</div>
  <div class="cell spacer"></div>
  <div class="cell larger">gesamt</div>
  <div class="cell larger">35 Bonus</div>
  <div class="cell larger">oben</div>
  <div class="cell spacer"></div>
  <div class="cell larger">3er-Pasch</div>
  <div class="cell larger">4er-Pasch</div>
  <div class="cell larger">Full-House</div>
  <div class="cell larger">Kleine Str.</div>
  <div class="cell larger">Große Str.</div>
  <div class="cell larger">Kniffel</div>
  <div class="cell larger">Chance</div>
  <div class="cell spacer"></div>
  <div class="cell larger">unten</div>
  <div class="cell larger">oben</div>
  <div class="cell larger">gesamt</div>
</div>
